
	/* -------------------------------------------------------------------------------------- */
	/* --- SHEET OF PAPER -------------------------------------------------------------- */
	/* -------------------------------------------------------------------------------------- */
	/* --- Light CSS library to create documents that looks like a sheet of --------- */
	/* --- paper --------------------------------------------------------------------------- */
	/* -------------------------------------------------------------------------------------- */
	/* --- Developed by:				------------------------------------------------------ */
	/* ---   Rafael Pérez García		------------------------------------------------------ */
	/* ---   at ImperdibleSoft		------------------------------------------------------ */
	/* -------------------------------------------------------------------------------------- */
	/* --- http://www.github.io/imperdiblesoft/sheet-of-paper	 --------------------- */
	/* --- http://imperdiblesoft.github.io/sheet-of-paper	  --------------------------- */
	/* -------------------------------------------------------------------------------------- */
	
*{line-height: normal;}
body{color:#000;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup,sub{line-height:-1px;vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input, textarea, select{font-family:inherit;font-size:inherit;font-weight:inherit;}
body {font:13px/1.22 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
table {font-size:inherit;font:100%;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:99%;}

/*	Common styles	*/
/*	Page sizes	*/
.sop-page{
	position: relative;
	display: block;
	float: none;
	
	margin: 0px auto;
	padding: 20px;
	
	background: white;
	border: none;
	box-sizing: border-box;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}
.sop-page.sop-A3{
	width: 980px;
	height: 1415px;
}
.sop-page.sop-A4{
	width: 670px;
	height: 980px;
}
.sop-page.sop-legal{
	width: 689px;
	height: 1185px;
}
.sop-page.sop-A5{
	width: 670px;
	height: 458px;
}

/*	Sections	*/
.sop-page .sop-header, .sop-page .sop-body{
	position: relative;
	display: block;
	float: left;
	
	width: 100%;
	height: auto;
	margin: 10px 0px;
	
	/* border: 1px dotted grey; */
}
.sop-page .sop-header .sop-left, .sop-page .sop-header .sop-center, .sop-page .sop-header .sop-right, .sop-page .sop-footer .sop-left, .sop-page .sop-footer .sop-center, .sop-page .sop-footer .sop-right{
	position: relative;
	display: block;
	
	max-width: 32%;
	height: auto;
	
	clear: none;
	overflow: hidden;
}
.sop-page .sop-header .sop-left, .sop-page .sop-footer .sop-left{
	float: left;
}
.sop-page .sop-header .sop-center, .sop-page .sop-footer .sop-center{
	float: none;
	
	margin: 0px auto;
}
.sop-page .sop-header .sop-right, .sop-page .sop-footer .sop-right{
	float: right;
}
.sop-footer{
	position: relative;
	display: block;
	float: left;
	
	width: 100%;
	height: auto;
	bottom: 0px;
	
	box-sizing: border-box;
}

/*	Elements	*/
.sop-page h1, .sop-page h2, .sop-page h3, .sop-page p{
	position: relative;
	display: block;
	
	margin-bottom: 20px;
}
.sop-page h1{
	font-size: 150%;
	font-weight: bold;
}
.sop-page h2{
	font-size: 130%;
	font-weight: bold;
}
.sop-page h3{
	color: #444444;
	font-size: 115%;
	font-weight: bold;
}
.sop-page br{
	clear: both;
}

.sop-page .sop-underlined{
	text-decoration: underline;
}
.sop-page .sop-justified{
	text-aling: justify;
}
.sop-page .sop-center{
	text-align: center;
}
.sop-page .sop-right{
	text-align: right;
}

.sop-page table{
	width: 100%;
}
.sop-page th, .sop-page td{
	width: auto;
	height: auto;
	padding: 5px;
	
	border: 1px solid black;
}

/*	Relative elements	*/
.sop-page .sop-header h1, .sop-page .sop-header h2, .sop-page .sop-header h3, .sop-page .sop-header p, .sop-page .sop-footer h1, .sop-page .sop-footer h2, .sop-page .sop-footer h3, .sop-page .sop-footer p{
	margin-bottom: 5px;
}

.sop-page .sop-header img, .sop-page .sop-footer img{
	max-width: 100%;
}

.sop-page .sop-footer h1{
	font-size: 110%;
}
.sop-page .sop-footer h2{
	font-size: 100%;
}
.sop-page .sop-footer h3{
	font-size: 90%;
}
.sop-page .sop-footer p{
	font-size: 80%;
}
.sop-page .sop-footer img{
	max-height: 100%;
}

/*	Viewer styles	*/
body.sop-viewer{
	background: #cccccc;
}
body.sop-viewer .sop-page{
	margin-top: 10px;
	margin-bottom: 20px;
}

/*	Printer styles	*/
body.sop-printer{
	background: transparent;
}
body.sop-printer .sop-page{
	background: transparent;
	box-shadow: none;
}


